<div class="wrapper">
    <main class="main">
        <header class="header">
            <div class="logo">
                <img src="./src/img/logo.png" alt="Другофильтр">
            </div>
            <div class="header__text">
                Выберете друзей
            </div>
            <div class="btn-close"></div>
        </header>
        <section class="filter-input">
            <div class="filter-left filter-block">
                <input type="text" id="filter-left" class="filter-block__input" name="filter-left" placeholder="Начните вводить имя друга">
            </div>
            <div class="filter-right filter-block">
                <input type="text" id="filter-right" class="filter-block__input" name="filter-right" placeholder="Название">
            </div>
        </section>
        <section class="block-friends">
            <div class="block-friends__item">
                <div class="block-friends__title">Ваши друзья</div>
                <ul id="leftList" class="friends-all__list js-leftList dragList">
                <!-- Список всех друзей -->
                </ul>
            </div>
            <div class="block-friends__item">
                <div class="block-friends__title">Друзья в списке</div>
                <ul id="rightList" class="friends-filter__list js-rightList dragList">
                    <!-- Список отфильрованных друзей -->
                </ul>
            </div>
        </section>
        <footer class="footer">
            <button id="save" class="btn-save">Сохранить</button>
        </footer>
    </main>
</div>
